body {
	background-color: rgb(143, 181, 255);
}

h1, h3 {
	padding: 20px;
}

img {
    width: 250px;
    height: 250px;
}

table {
    margin: 10px 0;
}

table, tr, td {
    border: 1px solid black;
}

td {
    padding: 5px 20px;
}

.main-content {
	margin-left: 50px;
	font-size: large;
}
