body {
    background-color: pink;
}

table {
    margin-top: 25px;
}

button {
    padding: 5px;
}

table img {
    width: 150px;
    height: 150px;
}

table, tr, td {
    border: 1px solid black;
}

td {
    padding: 5px 20px;
}