body {
	background-color: rgb(250, 250, 125);
}

img {
	margin: 35px 20px;
	border: 1px solid black;
	border-radius: 10px;
}

#submit-button {
    padding: 5px;
	margin-right: 20px;
}

#reset-button {
    padding: 5px;
	margin-left: 20px;
}
