body {
    background-color: rgb(170, 230, 247);
}

h2 {
    margin: 5px 0;
}

input {
    margin-left: 5px;
}

textarea {
    margin-left: 5px;
}

.registration-form {
    padding: 5px 10px;
    /* border: 2px solid red; */
}

#submit-button {
    margin-left: 45px;
    padding: 3px 5px;
	margin-right: 5px;
}

#reset-button {
    padding: 3px 5px;
	margin-left: 5px;
}